.row
  .span4
    =data_table 'Voltages'
    =data_table 'Temperatures'
    =data_table 'Humidities'
    =data_table 'Interface Kit Stats', %w(Comm\ Rate)
  .span8
    .row
      .span8
        %h3 Voltages
        #voltages_graph.graph_container(style='width:770px;height:160px')
        %h3 Temperatures
        #temperatures_graph.graph_container(style='width:770px;height:160px')
        %h3 Humidity
        #humidities_graph.graph_container(style='width:770px;height:160px')
