.row
  .span4
    =data_table 'GPS Sensor', ['Fixed?', 'Latitude', 'Longitude', 'Altitude', 
      'Velocity', 'Heading', 'UTC Time','Device Comm Rate']

    %h3 Orientation
    %canvas#heading_gps_vector(width = '370' height = '270')

  .span6
    %h3 Location
    %canvas#gps_map(width = '770' height = '556')
