.row
  .span6
    %h3 Orientation
    %canvas#vessel_orientation_threed(width = '570' height = '370')
    =data_table 'Override Controls', %w(Throttle Rudder TODO)

  .span6
    %h3 Location
    %canvas#gps_zoomed_out(width = '570' height = '370')
    =data_table 'Velocity and Heading', %w(Compass GPS\ Heading GPS\ Speed TODk)
