.row
  .span4
    =data_table 'Euler Rotations', %w(Acceleration Compass Gyroscope), 
      :columns => ['Heading (θ)','Pitch (φ)','Bank (ψ)'],
      :legends => %w(acceleration compass gyroscope)

    =data_table 'Sensor Values', %w(Acceleration Compass Gyroscope), 
      :columns => ['X-coord', 'Y-coord', 'Z-coord'],
      :legends => %w(acceleration compass gyroscope)

    =data_table 'Sensor Min/Max', %w(Acceleration Compass Gyroscope), 
      :columns => ['Min','Max']

    =data_table 'Runtime Stats', ['Last GUI Poll','Spatial Comm Rate']

  .span6
    %h3 Spatial Vectors (3D)
    %canvas#spatial_vectors_threed(width = '570' height = '354')
    %h3 Gyroscope Breakout
    .horizontal_planes
      %canvas#xy_spatial_gyro(width = '170' height = '170')
      %canvas#yz_spatial_gyro(width = '170' height = '170')
      %canvas#xz_spatial_gyro(width = '170' height = '170')
  .span2
    %h3 Spatial Sensors
    .vertical_planes
      %canvas#xy_spatial_vectors(width = '170' height = '170')
      %canvas#yz_spatial_vectors(width = '170' height = '170')
      %canvas#xz_spatial_vectors(width = '170' height = '170')
