.row
  .span12.page_header
    %h1 
      Accelerometer, Gyro, & Compass Dashboard
      %small
        Last updated:
        %span#last_update
.row
  .span4
    %h3 Euler Rotations
    %table.table.table-striped.table-bordered.table-condensed#phidget_orientation
      %thead
        %tr
          %th
          %th Heading (θ)
          %th Pitch (φ)
          %th Bank (ψ)
      %tbody
        %tr
        - %w(Acceleration Gyroscope Compass).each do |label|
          %tr
            %th
              %div{:class => [ label.downcase, 'legend_indicator'] }
              =label
            - %w(heading pitch bank).each do |axis|
              %td{:id => ['euler',label.downcase,axis].join('_')}

    %h3 Sensor Values
    %table.table.table-striped.table-bordered.table-condensed#phidget_spatial_coords
      %thead
        %tr
          %th Sensor
          %th X-coord
          %th Y-coord
          %th Z-coord
      %tbody
        - %w(Acceleration Compass Gyroscope).each do |sensor|
          %tr
            %th
              %div{:class => [ sensor.downcase, 'legend_indicator'] }
              =sensor
            %td{:id => '%s_data_x' % sensor.downcase}
            %td{:id => '%s_data_y' % sensor.downcase}
            %td{:id => '%s_data_z' % sensor.downcase}

    %h3 Sensor Min/Max
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr 
          %th Sensor
          %th Min
          %th Max
      %tbody
        - %w(Acceleration Compass Gyroscope).each do |sensor|
          %tr
            %th=sensor
            %td{:id => '%s_extent_min' % sensor.downcase}
            %td{:id => '%s_extent_max' % sensor.downcase}

  .span6
    %h3 Orientation Visualized
    %canvas#gyroscope_vis(width = '570' height = '354')
  .span2
    %h3 Vector Breakdown
    %canvas.small_plane#xy_plane(width = '170' height = '170')
    %canvas.small_plane#yz_plane(width = '170' height = '170')
    %canvas.small_plane#xz_plane(width = '170' height = '170')
